<div class="row">
  <div class="col-sm-4">
    <label for="total-cost">Total Cost</label>
  </div>
  <div class="col-sm-8">
    <div class="form-group">
      <input
        type="text"
        id="total-cost"
        name="total_cost"
        class="form-control"
        placeholder="Total Cost"
        required
        readonly
      />
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <label for="service-charge">Service Charge</label>
  </div>
  <div class="col-sm-8">
    <div class="form-group">
      <input
        type="text"
        id="service-charge"
        name="service_charge"
        class="form-control"
        placeholder="Service Charge"
        required
        readonly
      />
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <label for="final-cost">Final Cost</label>
  </div>
  <div class="col-sm-8">
    <div class="form-group">
      <input
        type="text"
        id="final-cost"
        name="final_cost"
        class="form-control"
        placeholder="Final Cost"
        required
        readonly
      />
    </div>
  </div>
</div>

<div class="row" id="service-div">
  <div class="form-group">
    <input
      type="button"
      class="btn btn-primary"
      id="add-service"
      value="Add Another Service"
    />
  </div>
</div>
